/* Base */

* {
  box-sizing: border-box;
}

/* Typography */

body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
}

/* … */
